*
!.gitignore
!/encodings.xml

!/runConfigurations/
/runConfigurations/*
!/runConfigurations/Run_IDE.xml

!/inspectionProfiles/
/inspectionProfiles/*
!/inspectionProfiles/profiles_settings.xml
!/inspectionProfiles/Project_Default.xml

!/codeStyles/
/codeStyles/*
!/codeStyles/codeStyleConfig.xml
!/codeStyles/Project.xml

!/copyright/
/copyright/*
!/copyright/MIT.xml
!/copyright/profiles_settings.xml
